# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true


# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 10000

# TypeScript/JavaScript config
[**.{ts,js}]
indent_size = 2

# Json config
[**.json]
indent_size = 2

# Lua config
[*.lua]
indent_size = 2
tab_width = 2
# none/single/double
quote_style = single
# [line break]
break_all_list_when_line_exceed = false
auto_collapse_lines = false
break_before_braces = false
# [preference]
ignore_space_after_colon = false
remove_call_expression_list_finish_comma = false
end_statement_with_semicolon = keep

# Python config
[*.py]
indent_size = 4

# Bash config
[*.bash]
indent_size = 4

# Yaml config
[*.yml]
indent_size = 2

# Latex config
[**.tex]
trim_trailing_whitespace = false

# Markdown config
[**.md]
indent_size = 2
trim_trailing_whitespace = false

# Textfile config
[**.txt]
trim_trailing_whitespace = false
insert_final_newline = false

# Snippets config
[**.snippets]
indent_style = tab

