.cfg

# Ignore Packer's compiled files
packer_compiled.lua

# Ignore Zsh plugins directory
~/.config/zsh/plugins

# Ignore zcompdump files
zcompdump

# Ignore .DS_Store files (macOS)
*.DS_Store

# Ignore .git directory
.git/

# Ignore .spl files
*.spl

# Ignore node_modules directory
node_modules/

# Ignore .png files
*.png

# Ignore .zip files
*.zip

# Ignore .pxd files
*.pxd

# Ignore .local directory
#^.local/

# Ignore .cache directory
^.cache/

# Ignore downloads directory
^downloads/

# Ignore music directory
^music/

^images/
^pictures/
^machines/

