/* color palette definitions */
$transp_light: rgba(251, 241, 199, 0.65);
$transp_dark: rgba(0, 0, 0, 0.8);

$dark0_hard: #1d2021;
$dark0: #282828;
$dark0_soft: #32302f;
$dark1: #3c3836;
$dark2: #504945;
$dark3: #665c54;
$dark4: #7c6f64;

$gray: #928374;

$light0_hard: #f9f5d7;
$light0: #fbf1c7;
$light0_soft: #f2e5bc;
$light1: #ebdbb2;
$light2: #d5c4a1;
$light3: #bdae93;
$light4: #a89984;

$bright_red: #fb4934;
$bright_green: #608644;
$bright_yellow: #fabd2f;
$bright_blue: #83a598;
$bright_purple: #d3869b;
$bright_aqua: #8ec07c;
$bright_orange: #fe8019;

$neutral_red: #9c3528;
$neutral_green: #55982d;
$neutral_yellow: #d79921;
$neutral_blue: #458588;
$neutral_purple: #b16286;
$neutral_aqua: #689d6a;
$neutral_orange: #d65d0e;

$faded_red: #962a2e;
$faded_green: #8ec07c;
$faded_yellow: #b57614;
$faded_blue: #1b5560;
$faded_purple: #8f3f71;
$faded_aqua: #427b58;
$faded_orange: #af3a03;

/* color scheme assignments */
$bg_color: $dark0_soft;
$fg_color: $light0_soft;
$text_color: $light0;
$base_color: $light0_hard;
$borders: $dark1;
$unfocused_borders: $dark3;
$selected_bg_color: $dark0;
$tooltip_bg_color: $dark1;
$info_bg_color: $dark2;
$info_fg_color: $light3;
$warning_fg_color: $bright_red;
$warning_bg_color: $dark3;
$question_fg_color: $neutral_blue;
$question_bg_color: $dark3;
$error_fg_color: $faded_red;
$error_bg_color: $dark3;
$insensitive_bg_color: $gray;
$insensitive_fg_color: $light3;
$insensitive_base_color: $base_color;
$unfocused_bg_color: $dark3;
$unfocused_fg_color: $light2;
$unfocused_base_color: $base_color;
$unfocused_text_color: $light0_soft;
$link_color: $selected_bg_color;
$success_color: $bright_aqua;
$error_color: $bright_red;



$borderColor: #24283b;
$borderRadius: 5px;
$borderSize: 5px;
$bgColor: #1a1b26;
$fgColor: #c0caf5;

* {
    all: unset;
    color: $fgColor;
}

//// Calendar
//.cal-box {
//    background-color: $background;
//    border-radius: 5px;
//    font-family: VictorMono Nerd Font;
//    font-size: 1em;
//    font-style: italic;
//    font-weight: bold;
//
//    .cal-inner-box {
//        padding: 1rem 1rem 0.2rem;
//
//        .cal {
//            &.highlight {
//                padding: 10rem;
//            }
//
//            padding: 0.8rem 0.25rem 0rem;
//            margin-left: 10px;
//        }
//    }
//}
//
//calendar:selected {
//    color: $yellow;
//}
//
//calendar.header {
//    color: $red;
//    font-weight: bold;
//}
//
//calendar.button {
//    color: $magenta;
//}
//
//calendar.highlight {
//    color: $green;
//    font-weight: bold;
//}
//
//calendar:indeterminate {
//    color: $gray;
//}

.cal-box {
    margin-top: 6px;
    border-radius: 8px;
    background-color: $transp_dark;
    color: $bright_yellow;
}

//.cal-inner-box {
//    padding: 1.5em 1em;
//}

.monthyear {
    font-size: 1.75rem;
    font-weight: bold;
    margin: .5rem 0;
}

.day-names {
    font-weight: 600;
    padding: 0 1rem;
    padding-top: 1rem;
    color: $bright_green;
    font-size: 1.5em;
}

.cal {
    &.highlight {
        padding: 5em;
    }
    //padding: .8em .25em 0em;
}

calendar:selected {
    padding-top: 1em;
    color: $bright_red;
}

calendar:indeterminate {
    color: $neutral_blue;
}

.window {
    background-color: $bgColor;
    border: $borderSize solid $borderColor;
    color: $fgColor;
}

@import 'bar/style.scss';
@import 'dock/style.scss';
@import 'panel/style.scss';
@import 'status/style.scss';
