#!/bin/sh

# Xresources
[[ -f ~/.config/X11/.Xresources ]] && xrdb -merge ~/.config/X11/.Xresources

#Xset
xset r rate 150 50
#xset r rate 290 70

# Xbindkeys
xbindkeys -f "$XDG_CONFIG_HOME"/X11/xbindkeysrc

# XKB
setxkbmap -print | xkbcomp -I"$HOME"/.config/xkb - "$DISPLAY"

#export XAUTHORITY="$XDG_RUNTIME_DIR/.Xauthority" # This line will break some DMs.
export USERXSESSION="$XDG_CACHE_HOME/X11/xsession"
export USERXSESSIONRC="$XDG_CACHE_HOME/X11/xsessionrc"
export ALTUSERXSESSION="$XDG_CACHE_HOME/X11/Xsession"
export ERRFILE="$XDG_CACHE_HOME/X11/xsession-errors"

if [[ "$(tty)" = "/dev/tty1" ]]; then
    pgrep bspwm || startx "$XDG_CONFIG_HOME/X11/.xinitrc"
fi
