/* colors */

* {
    alternative:      #00101212;
    background:      #101010ff;
    seperator:      #00101212;
    foreground:      #FAFAFA;
    ac:      #00000000;
    red:     #CECCC9;
    green:   #CECCC9;
    yellow:  #CECCC9;
    blue:    #CECCC9;
    purple:  #CECCC9;
    cyan:    #CECCC9;
    black:   #101212;
    cyber:   #53E2AE;
    orange:  #fe8019;
}
